@model cuahangtaphoa.Models.NguoiDung

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <style>

        body {
            margin: 0;
            font-family: Arial;
            background: url('https://png.pngtree.com/thumb_back/fh260/background/20250228/pngtree-fresh-grocery-store-background-image_17023389.jpg') no-repeat center;
            background-size: cover;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .login-box {
            width: 400px;
            background: white;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 10px 30px rgba(0,0,0,0.3);
            text-align: center;
        }

        .store-icon {
            color: red;
        }

        input {
            width: 100%;
            padding: 14px;
            margin: 12px 0;
            border-radius: 6px;
            border: 1px solid #ccc;
            font-size: 16px;
            box-sizing: border-box;
        }

        .btn-group {
            display: flex;
            justify-content: center;
        }

        .btn {
            padding: 14px 20px;
            width: 120px;
            border: none;
            color: white;
            margin-top: 15px;
            cursor: pointer;
        }

        .login {
            background: #2a73cc;
        }
    </style>

</head>

<body>

    <div class="login-box">

        <h2 style="color:#2a73cc">
            <i class="fa-solid fa-store store-icon"></i> Cửa hàng tạp hóa
        </h2>

        @using (Html.BeginForm("Login", "Login", FormMethod.Post))
        {
            @Html.TextBoxFor(m => m.TenDangNhap, new { placeholder = "Tên đăng nhập" })

            @Html.PasswordFor(m => m.MatKhau, new { placeholder = "Mật khẩu" })

            <div class="btn-group">
                <button type="submit" class="btn login">Đăng nhập</button>
            </div>

            <p style="color:red">@ViewBag.error</p>
        }

    </div>

</body>
</html>