@model cuahangtaphoa.Models.SanPham
@{
    Layout = "~/Views/Layout/Index.cshtml";
}
<h3>Thiết lập giá</h3>

<form method="post">

    <div class="mb-3">
        <label>Tên sản phẩm</label>
        <input type="text" value="@Model.TenSanPham" readonly class="form-control">
    </div>

    <div class="mb-3">
        <label>Giá nhập</label>
        <input type="number" name="GiaNhap" value="@Model.GiaNhap" class="form-control">
    </div>

    <div class="mb-3">
        <label>Giá bán</label>
        <input type="number" name="GiaBan" value="@Model.GiaBan" class="form-control">
    </div>

    <button class="btn btn-success">Lưu</button>

</form>